extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Nick Hericks

        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Elevator pitch
        .portfolio-bio
          p
            | I have always been fascinated by technology and the web. In my previous roles I would frequently find ways to use technology to improve the work that my team and I were doing. After a few years of dabbling with web development, in 2017 I quit my job and began studying full-time.
            | While I am navigating my own path through the world of programming, I don't believe anybody is completely "self-taught" since we learn from others along the way. Follow my journey as I learn to code at @nickhericks or email me - I'd love to hear from you!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li jQuery
          li Node.js
          li Express.js
          li Pug
          li MySQL
          li PHP
          li RegEx
        h6 Contact Info

        ul
          li 612-440-1480
          li nickhericks@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/nickhericks' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/nickhericks', target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  