extends layout

block content 
  article.grid-container.portfolio-intro
    div

      h1 Portfolio

      p.lead.text-light
        | This portfolio was built using Express.js and the Pug template engine as a way to share a few JavaScript projects that I've been working on through Treehouse's Full Stack Developer Techdegree program.
        br
        br
        | Click an image below to view more details about each project, or view the about page for my contact info.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      //- Iterate through technologies used in project
      each project in projects
        .cell
          a(href=`project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
            h5= project.project_name