
body {
	font-family: 'Roboto Mono', monospace;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: 'Roboto Mono', monospace;
}

h4 {
	letter-spacing: 2.5px;
	-webkit-text-transform: uppercase;
	text-transform: uppercase;
}

h6 {
	letter-spacing: 2.5px;
	-webkit-text-transform: uppercase;
	text-transform: uppercase;
	font-weight: 600;
}

p {
	font-size: 1rem;
	color: rgb(59, 59, 59);
}

.round {
  border-radius: 5px;
}

.text-light {
  color: rgb(59, 59, 59);
}

	.text-light a {
		text-decoration: underline;
	}

.button {
	background-color: #333;
	font-size: 1.1rem;
}

.button:hover {
  background-color: #111;
}

a {
  color: #333;
}

a:hover {
  color: #111;
}

.image {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.shadow {
	box-shadow: 4px 0px 20px 0 rgba(0,0,0,0.75) !important;
  overflow: hidden;
}

.portfolio-me {
  padding: 20px;
	background: #1779ba;
  color: #fff;
  /* box-shadow: none !important; */
}

  .portfolio-me p {
    font-size: 1rem;
    color: rgb(255, 255, 255);
  }

  .portfolio-me a {
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover {
    color: #999;
  }

.portfolio-breadcrumb {
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a {
   font-weight: 600;
   font-size: 1rem;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro {
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.profile-pic {
	border-radius: 50%;
}

.portfolio-index {
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail {
		margin-bottom: 5px;
  }

  .portfolio-index a {
    color: #222;
  }

  .portfolio-index .cell {
		margin-bottom: 15px;
  }

    .portfolio-index .cell h5 {
			letter-spacing: 1px;
    }

.portfolio-meta {
  padding-left: 20px;
}

  .portfolio-meta .button {
    margin-bottom: 5px;
  }

.portfolio-project p {
  border: none;
}

.portfolio-project li {
  font-size: 1rem;
  color: #444;
}

.portfolio-bio {
  line-height: 25px;
}

.error {
	margin: 2rem;
}

	.error a {
		max-width: 200px;
		margin: 3rem 0 5rem 0;
	}